.atras {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 2px; */
    margin-bottom: 10px;
}

.atras a {
    color: #000;
}

.atras hr {
    width: 15px;
    height: 1px;
    transform: rotate(-75deg);
    border: 1px solid;
}
